{%extends 'base.html' %}
{% load static %}

{% block content %}

    
    <div class="cotainer">


      {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show  col-9 mx-auto mt-4" role="alert">
        <strong><img src="{% static 'image/checked.png' %}" alt="" height="20" width="20"> Congratulations! {{message}} <a href="address_list"  class="text-decoration-none">See your addresses</a></strong>
    </div>
    {% endfor %}

              <!-- Address -->
        <div class="p-3 m-4 border col-9  mx-auto" id="add_address" > 
          <h5 >  <img src="{% static 'image/map.png' %}"  height="20" width="20" > Add a delivery address</h5> </h5><br>
          <form class="row g-3" action="add_address" method="POST">
            {% csrf_token %}
            <div class="col-md-6 ">
              <label class="form-label text-dark">Full Name</label>
              <input required type="text" class="form-control form-control-sm border-dark" name="full_name">
            </div>
            <div class="col-md-6">
              <label  class="form-label text-dark">Mobile Number</label>
              <input required type="text" class="form-control form-control-sm border-dark" name="mobile">
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label text-dark">Address </label>
              <input required type="text" class="form-control form-control-sm border-dark" name="address" placeholder="1234 Main St">
            </div>
            <div class="col-md-6">
              <label for="inputCity" class="form-label text-dark">City</label>
              <input required type="text" class="form-control form-control-sm border-dark" name="city">
            </div>
            <div class="col-md-4">
              <label for="inputState" class="form-label text-dark">State</label>
              <select name="state" class="form-select form-select-sm border-dark">
                <option value="-------">-------</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option value="Assam">Assam</option>
                <option value="Bihar">Bihar</option>
                <option value="Chandigarh">Chandigarh</option>
                <option value="Chhattisgarh">Chhattisgarh</option>
                <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                <option value="Daman and Diu">Daman and Diu</option>
                <option value="Delhi">Delhi</option>
                <option value="Lakshadweep">Lakshadweep</option>
                <option value="Puducherry">Puducherry</option>
                <option value="Goa">Goa</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kerala">Kerala</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Manipur">Manipur</option>
                <option value="Meghalaya">Meghalaya</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Nagaland">Nagaland</option>
                <option value="Odisha">Odisha</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Sikkim">Sikkim</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Telangana">Telangana</option>
                <option value="Tripura">Tripura</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="Uttarakhand">Uttarakhand</option>
                <option value="West Bengal">West Bengal</option>
                </select>
            </div>
            <div class="col-md-2">
              <label for="inputZip" class="form-label text-dark">Pin code</label>
              <input required type="number" class="form-control form-control-sm border-dark" name="pin">
            </div>
            
            <footer>
                <br>
            <br>
                <div class="col-12">
                    <input type="submit" class="btn btn-warning float-end rounded-pill"  value="Save this address">
                  </div>
                  
            </footer>
          </form>
          </div>
    
      
      
      {% endblock content %}

